

*{
  margin: 0px;
  padding: 0px;
  background-color: rgb(202, 190, 190);
}
.aboutus{
  color: rgb(159, 30, 219);
  text-align: center;
  background-color: rgb(80, 26, 206);
}

.profile-us{
  color: blue;
  text-align: center;
  background-color: rgb(206, 170, 26);
}
.Home-us{
  color: rgb(44, 134, 207);
  text-align: center;
  background-color: rgb(152, 177, 121);
}
.Contact-us{
  color: rgb(253, 48, 11);
  text-align: center;
  background-color: rgb(8, 250, 28);
}

.box{
  background-color: rgb(1, 145, 241);
  box-shadow: 2px 4px 4px gray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 400px;
  display: inline-block;
}
.box-head{
  text-align: center;
  color: blueviolet;
  font-size: bold;
}

.ul-style{
  list-style: none;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}
li :link{
  text-decoration: none;
  color: blue;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}

body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;}